.errorMessage {
    color: red;
    font-size:small;
    margin: 0 0 10px 0;
    padding: 0;
    display: block;
}

.text-uppercase {
    text-transform: uppercase;
}

.form-group input {
    margin-bottom: 0;
    padding: 0 0 0 0 !important;
}