.ot-home-container {

    max-width: 1400px;
    margin: 0 auto;

}

.ot-hero-section {
    color: white;
    position: relative;
    height: 650px;
    /* Fixed height for mobile */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/hero-section.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    margin-top: -12px;
}

.ot-bg-teal {
    background-color: rgb(58, 150, 242);
}

.dz-bottone-dettagli {
    padding: 0;
    max-height: 30px;
}

.dz-link {
    background-color: rgb(15, 78, 160);
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.dz-link:hover {
    background-color: rgb(245, 246, 250);
    color: rgb(15, 78, 160);
}