.ot-home-container {

    max-width: 1400px;
    margin: 0 auto;

}

.ot-hero-section {
    color: white;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;


    background-image: url(../assets/images/hero-section.png);
    background-size: cover;
    background-position: center;

    margin-bottom: 40px;

}

.ot-bg-teal {
    background-color: rgb(58, 150, 242);
}