.dz-prezzo-scontato {
    color: red;
}

.dz-titolo-prodotto {
    text-align: center;
    margin-bottom: 30px;
}

.dz-description-prodotto {
    text-align: center;
}

.dz-brand-badge {
    background-color: red;
    padding: 15px;
    border-radius: 50px;
    color: white;
}

.ml-image-wrap {
    position: relative;
    display: inline-block;
    margin: 0px 0px;
    max-width: 320px;
}

.ml-main-image {
    max-width: 20%;
    height: auto;
    display: inline-block;
    margin: 40px auto;
    border: 1px solid black;
}

.dz-brand-badge {
    animation: cambiaColore 10s infinite;
}

@keyframes cambiaColore {
    0% {
        background-color: red;
    }

    33% {
        background-color: blue;
    }

    66% {
        background-color: green;
    }

    100% {
        background-color: red;
    }
}

.dz-prodotto-senza-sconto {
    text-decoration: line-through;
}