.dz-bg-footer {
    background-color: rgb(73, 185, 216);
}

.dz-bordi-footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.dz-logo-footer {
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}
.ay-sociaol-footer a{
    text-decoration: none;
    padding-left: 5px;

}