html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer,
.dz-bg-footer {
    flex-shrink: 0;
}